* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home,

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.sign-up {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    color :black
}

.app-wrapper{
        margin-right: auto; /* 1 */
        margin-left:  auto; /* 1 */      
        max-width: 960px; /* 2 */      
        padding-right: 10px; /* 3 */
        padding-left:  10px; /* 3 */             
}