
.background{
    background-image: url('/public/images/Background.jpg');    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
}


.container{
 background-color: black;
 color: white; 
 width: 450px;
 margin: auto;
 padding: 30px;
 
}
